<% if business.errors.any? %>
  <div id="error_explanation">
    <h2 class="errors"><%= business.error_message %></h2>

    <ul>
    <% business.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
