<p>
  <span><%= link_to "Edit Profile",  hello.user_path %></span>
</p>

<p>
  <% current_user.classic_entity.tap do |credential| %>
    <span><%= link_to "Edit Email",    email_classic_credential_path(credential) %></span> |
    <span><%= link_to "Edit Username", username_classic_credential_path(credential) %></span> |
    <span><%= link_to "Edit Password", password_classic_credential_path(credential) %></span>
  <% end %>

  <span><%#= link_to 'Add Email', hello.new_credential_path %></span>
</p>
