<p>
  <span><%= link_to "Edit Profile",  hello.user_path %></span>
</p>

<p>
  <% current_user.classic_entity.tap do |identity| %>
    <span><%= link_to "Edit Email",    email_classic_identity_path(identity) %></span> |
    <span><%= link_to "Edit Username", username_classic_identity_path(identity) %></span> |
    <span><%= link_to "Edit Password", password_classic_identity_path(identity) %></span>
  <% end %>

  <span><%#= link_to 'Add Email', hello.new_identity_path %></span>
</p>
