<p>
  <span><%= link_to "Profile",  hello.user_path %></span>
  <span><%#= link_to "Email",    hello.identity_email_path %></span>
  <span><%#= link_to "Username", hello.identity_username_path %></span>
  <span><%#= link_to "Password", hello.identity_password_path %></span>
</p>
