<% if signed_in? %>
  <p>
    <small>
      Your session expires in <%= time_ago_in_words current_access.expires_at %>
    </small>

    <% if sudo_mode? %>
      <small>
        |
        Sudo Mode expires in <%= time_ago_in_words current_access.sudo_expires_at %>
        (<%= link_to "expire", hello.sudo_mode_expire_path %>)
      </small>
    <% end %>
  </p>
<% end %>
