<h2 class="page-header">Settings</h2>

<div class="col-sm-3 col-md-2">
<div class="list-group">
  <%= active_link_to "Profile", hello.user_path, class: "list-group-item" %>

  <% current_user.classic_entity.tap do |c| %>
    <%= active_link_to "Email",    email_classic_credential_path(c),    class: "list-group-item" %>
    <%= active_link_to "Username", username_classic_credential_path(c), class: "list-group-item" %>
    <%= active_link_to "Password", password_classic_credential_path(c), class: "list-group-item" %>
    <%#= active_link_to 'Add Email', hello.new_credential_path, class: "list-group-item" %>
  <% end %>
</div>
</div>
