<h1>Home Page</h1>

<% if current_user %>
  <p><%= link_to "visit /hello/profile for My Account", hello.profile_path %></p>
<% else %>
  <p><%= link_to "visit /hello for User Registration", hello_path %></p>
<% end %>
