<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>#<%= user.id %></td>
        <td><%= link_to user.name, user %></td>
        <td><%= user.role %></td>
      </tr>
    <% end %>
  </tbody>
</table>
