<h1>Welcome</h1>

<p>Hello <%= @user.name %>,</p>
<p>We hope you love our website :)</p>

<p>Your password is: "<%= @password %>", it has been encrypted for storage.</p>
<p>if you forget it, you will have to ask for a new password.</p>

<p>Awesome Regards,</p>
<p>Awesome Team</p>
<p>Awesome Site</p>
