<div class="row">

<%= render '/hello/shared/settings' %>

<h1>Account Deactivation</h1>
<p>Are you sure you want to deactivate your account?</p>

<p><%= button_to "Deactivate my Account", hello.deactivation_path %></p>
<p><%= link_to "No, I want to stay", root_path %></p>

</div>
