<h1>Welcome</h1>

<!-- Now write some actual code -->

<div class="row">
  <div class="col-md-offset-4 col-md-4">

    <% %w[success info warning danger].each do |style| %>
      <div class="progress">
        <div class="progress-bar progress-bar-<%= style %>" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; text-align: right">
          <span>100% Complete &nbsp;</span>
        </div>
      </div>
    <% end %>

    <p class="lead">You have <strong>(0)</strong> unread messages</p>
    <p class="lead">You have <strong>(0)</strong> unread notifications</p>
    <%= link_to "Go to home page", "/", class: "btn btn-primary" %>
    
  </div>
</div>
