<div class="table-responsive">
  <table class="table">
    <tr>
      <td width="50%" style="vertical-align: top">
        <h2 class="page-header">Sign Up</h2>
        <%= render 'hello/registration/classic_sign_up/form' %>
      </td>
      <td width="50%" style="vertical-align: top">
        <h2 class="page-header">Sign In</h2>
        <%= render 'hello/authentication/classic_sign_in/form' %>
      </td>
    </tr>
  </table>
</div>
