<h1>Reset Your Password</h1>

<p>Hello <%= @user.name %>,</p>
<p>Reset your password on the link bellow</p>

<p><%= '-' * 40 %></p>
<p><%= link_to @url, @url %></p>
<p><%= '-' * 40 %></p>

<p>Awesome Regards,</p>
<p>Awesome Team</p>
<p>Awesome Site</p>
