<h1>This is my website</h1>


<table width="80%" align="center">
<tr>
  <td>
    <h1>Sign Up</h1>
    <%= render 'hello/classic/registration/sign_up' %>
  </td>
  <td>
    <h1>Sign In</h1>
    <%= render 'hello/classic/registration/sign_in' %>
  </td>
</tr>
</table>