<% if @forgot_password.login %>
  <h1>Email sent to "<%= @forgot_password.login %>"</h1>
<% end %>

<div class="alert alert-success" role="alert">
  <%= @forgot_password.success_message.html_safe %>
</div>


<blockquote style="border-color: #a94442">
  <p class="text-danger"><strong>Q: Didn't receive the password reset email?</strong></p>
  <p>
    A: Check your spam folder for an email from
    <strong><%= @sender %></strong>
  </p>
</blockquote>

<blockquote style="border-color: #a94442">
  <p class="text-danger"><strong>Q: You still don't see the email?</strong></p>
  <p>A: Try a different way to get into your account.</p>
  <footer>
    <strong>Suggestion:</strong>
    <%= link_to "Click Here", hello.forgot_passwords_path %>
    and try again with a different email.
  </footer>
</blockquote>
