<div class="row">

<%= render '/hello/shared/settings' %>

<div class="col-sm-3-offset col-md-2-offset col-sm-9 col-md-10">

<h1>Cancel Account</h1>
<p>Are you sure you want to cancel your account?</p>

<p><%= button_to "Cancel my Account", hello.cancel_account_path %></p>
<p><%= link_to "No, I want to stay", root_path %></p>

</div>
</div>
