<h1>Add Account</h1>

<p><%= link_to "Sign Up", hello.sign_up_path, class: 'btn btn-xs btn-info', style: 'width: 150px' %></li>
<p><%= link_to "Sign In", hello.sign_in_path, class: 'btn btn-xs btn-info', style: 'width: 150px' %></p>
