<%= form_for @forgot_password, as: :forgot_password, url: forgot_passwords_path, html: {class: "form-horizontal", role: "form"} do |f| %>

  <!-- Errors -->
  <% if @forgot_password.errors.any? %>
    <%= render '/hello/shared/errors', active_model: @forgot_password %>
  <% end %>

  <div class="form-group">
    <div class="col-sm-4">
      <%= f.text_field :login, class: "form-control ", placeholder: "Email or Username" %>
    </div>
    <div class="col-sm-2">
      <%= f.submit "Continue", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
