<h2 class="page-header">I forgot my password</h2>

<blockquote style="border-color: #5bc0de">
  <p>To reset your password, enter the email address you use to sign in to this website.</p>
  <p>This can be any email address associated with your account.</p>
  <p>We will send you a verification email.</p>
  <footer>You can also enter your <strong>@username</strong>.</footer>
</blockquote>

<%= render 'hello/management/password_credentials/forgot_form' %>
